{"swagger":"2.0","info":{"description":"Description de l'API de Géorisques","version":"1.8.2a","title":"API de Géorisques","contact":{},"license":{}},"host":"www.georisques.gouv.fr","tags":[{"name":"AZI","description":"Opérations sur les Atlas des Zones Inondables (AZI)"},{"name":"CATNAT","description":"Opérations sur les catastrophes naturelles"},{"name":"Cavites","description":"Opérations sur les Cavités Souterraines (Cavites)"},{"name":"DICRIM","description":"Opérations sur les Documents d'Information Communal sur les Risques Majeurs (DICRIM) "},{"name":"Etats documents PPR","description":"Opérations sur les états des documents PPR"},{"name":"Familles risque PPR","description":"Opérations sur les familles de risque PPR"},{"name":"Installations Classées","description":"Opérations sur les installations classées"},{"name":"MVT","description":"Opérations sur les Mouvements de terrains (MVT)"},{"name":"PAPI","description":"Opérations sur les Programmes d'Actions de Prévention des Inondations (PAPI)"},{"name":"PCS","description":"Opérations sur les Plans Communaux de Sauvegarde (PCS)"},{"name":"PPR","description":"Opérations sur les documents PPR"},{"name":"Radon","description":"Opérations sur le risque radon"},{"name":"Rapport PDF","description":"Opération pour la génération du rapport PDF"},{"name":"Retrait gonflement des argiles","description":"Opérations sur les retrait de gonflement des argiles"},{"name":"Risques","description":"Opérations sur le Détail des risques"},{"name":"SIS","description":"Opérations sur les données SIS"},{"name":"TIM","description":"Opérations sur les Transmissions d'Informations au Maire (TIM)"},{"name":"TRI","description":"Opérations sur les Territoires à Risques importants d'Inondation (TRI)"},{"name":"Zonage Sismique","description":"Opérations sur le risque sismique"}],"paths":{"/api/v1/cavites":{"get":{"tags":["Cavites"],"summary":"Cette interface est conçue pour diffuser les données sur les cavités souterraines.","description":"Cette interface est conçue pour diffuser les données sur les cavités souterraines.","operationId":"rechercheRisquesUsingGET_1","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune. Si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100. Le nombre maximum de codes est 10. Ce type de recherche ne peut pas être combiné avec une recherche au rayon.","required":false,"type":"string"},{"name":"departement","in":"query","description":"Le code du département recherché","required":false,"type":"string"},{"name":"identifiant","in":"query","description":"Identifiant de la cavité souterraine","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours un point. La paire de coordonnées est separée par une virgule. Exemple : 1.939266,47.861961","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à 10 000 mètres. Par defaut le rayon de recherche est fixé a 1000 mètres.","required":false,"type":"number","format":"double"},{"name":"region","in":"query","description":"Le code de la région recherchée","required":false,"type":"string"},{"name":"type","in":"query","description":"Type de cavité souterraine                                     <br>- Cave <br>- Naturelle <br>- Indéterminé <br>- Ouvrage civil <br>- Puits <br>- Divers <br>- Galerie <br>- Carrière <br>- Indice <br>- Ouvrage militaire <br>- Réseau galeries <br>- Souterrain","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«Cavites»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/gaspar/azi":{"get":{"tags":["AZI"],"summary":"Lister les Atlas de Zones Inondables (AZI) recensés sur le territoire concerné","description":"Ce service permet de lister les Atlas de Zones Inondables (AZI) recensés sur le territoire concerné, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.","operationId":"rechercheRisquesUsingGET","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«Azi»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/gaspar/catnat":{"get":{"tags":["CATNAT"],"summary":"Lister les arrêtés de catastrophe naturelle","description":"Ce service permet de lister les arrêtés de catastrophe naturelle, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.","operationId":"rechercheCatNatUsingGET","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«CatNat»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/gaspar/dicrim":{"get":{"tags":["DICRIM"],"summary":"Lister les Documents d'Information Communal sur les Risques Majeurs (DICRIM) sur le territoire concerné","description":"Ce service permet de lister les Documents d'Information Communal sur les Risques Majeurs (DICRIM) sur le territoire concerné, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.","operationId":"rechercheRisquesUsingGET_2","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«Dicrim»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/gaspar/papi":{"get":{"tags":["PAPI"],"summary":"Lister les Programmes d'Actions de Prévention des Inondations (PAPI) recensés sur le territoire concerné","description":"Ce service permet de lister les Programmes d'Actions de Prévention des Inondations (PAPI) recensés sur le territoire concerné, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.","operationId":"rechercheRisquesUsingGET_4","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«Papi»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/gaspar/pcs":{"get":{"tags":["PCS"],"summary":"Lister les Plans Communaux de Sauvegarde (PCS) recensés sur le territoire concerné","description":"Ce service permet de lister les Plans Communaux de Sauvegarde (PCS) recensés sur le territoire concerné, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.","operationId":"rechercheRisquesUsingGET_5","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«Pcs»"}},"204":{"description":"test","schema":{"$ref":"#/definitions/PaginatedResponse«Pcs»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/gaspar/risques":{"get":{"tags":["Risques"],"summary":"Lister les types de risques recensés sur le territoire concerné","description":"Ce service permet de lister les types de risques recensés sur le territoire concerné, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.","operationId":"rechercheRisquesUsingGET_6","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«Risques»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/gaspar/tim":{"get":{"tags":["TIM"],"summary":"Lister les dossier de Transmission d'Information au Maire (TIM) recensés sur le territoire concerné","description":"Ce service permet de lister les dossier de Transmission d'Information au Maire (TIM) recensés sur le territoire concerné, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.","operationId":"rechercheRisquesUsingGET_7","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«Tim»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/gaspar/tri":{"get":{"tags":["TRI"],"summary":"Lister les Territoires à  Risques importants d'Inondation (TRI) recensés sur le territoire concerné","description":"Ce service permet de lister les Territoires à  Risques importants d'Inondation (TRI) recensés sur le territoire concerné, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.","operationId":"rechercheRisquesUsingGET_8","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«Tri»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/installations_classees":{"get":{"tags":["Installations Classées"],"summary":"Cette interface est conçue pour diffuser les données installations classées de Gun Env à destination de Géorisques.","description":"Cette interface est conçue pour diffuser les données installations classées de Gun Env à destination de Géorisques.","operationId":"rechercherAiotsParGeolocalisationUsingGET","produces":["application/json"],"parameters":[{"name":"activite","in":"query","description":"Le code de l'activité principale de l'établissement, tel que défini dans la nomenclature NAF v2 (ex. 01, 02, etc.) : <br>https://www.insee.fr/fr/information/2406147","required":false,"type":"string"},{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune. Si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100. Le nombre maximum de codes est 10. Ce type de recherche ne peut pas être combiné avec une recherche au rayon.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"codeAIOT","in":"query","description":"Code(s) de(s) (l')installation(s) classée(s) à 10 chiffres.Si plusieurs codes, les séparer par une virgule,par exemple  : codeAIOT=0005402775,0005602790.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"dateMaj","in":"query","description":"Date de modification des données. La date est au format \"AAAA-MM-JJ\". L'API renvoie tous les établissements dont la date de modification est supérieure ou égale à dateMaj.","required":false,"type":"string"},{"name":"debutInspection","in":"query","description":"Date d'inspection minimum à recherchée. La date est au format \"AAAA-MM-JJ\".","required":false,"type":"string"},{"name":"departement","in":"query","description":"Le code du département recherché","required":false,"type":"string"},{"name":"finInspection","in":"query","description":"Date d'inspection maximum à recherchée. La date est au format \"AAAA-MM-JJ\".","required":false,"type":"string"},{"name":"ied","in":"query","description":"Etablissement « IED-MTD » - true/false","required":false,"type":"boolean"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours un point. La paire de coordonnées est separée par une virgule. Exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"nomenclature","in":"query","description":"La liste des codes de nomenclatures d'installations classées. <br>La liste des valeurs est séparée par une virgule (ex. 1455, 1531, etc.) <br> <br>La liste des nomenclatures est disponible à l'adresse suivante : <br>https://aida.ineris.fr/liste_documents/1/18023/1","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"prioriteNationale","in":"query","description":"Etablissement « priorité nationale » - true/false","required":false,"type":"boolean"},{"name":"raisonSociale","in":"query","description":"Tout ou partie d'un nom d'établissement recherché et insensible à la casse","required":false,"type":"string"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à 10 000 mètres. Par defaut le rayon de recherche est fixé a 1000 mètres.","required":false,"type":"number","format":"double"},{"name":"regime","in":"query","description":"Le code du régime de l'établissement : <br>- A : Autorisation <br>- E : Enregistrement <br>- AUTRE : Autre régime ","required":false,"type":"string"},{"name":"region","in":"query","description":"Le code de la région recherchée","required":false,"type":"string"},{"name":"siret","in":"query","description":"Code(s) siret de l'installation classée.Si plusieurs codes, les séparer par une virgule, par exemple  : siret=48335930300011,35392644700130.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"statutSeveso","in":"query","description":"Le code du statut SEVESO de l'établissement : <br>- 1 : Seveso seuil haut <br>- 2 : Seveso seuil bas <br>- 3 : Non Seveso","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«InstallationClassee»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/mvt":{"get":{"tags":["MVT"],"summary":"Cette interface est conçue pour diffuser les données sur le mouvement de terrain.","description":"Cette interface est conçue pour diffuser les données sur le mouvement de terrain.","operationId":"rechercheRisquesUsingGET_3","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune. Si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100. Le nombre maximum de codes est 10. Ce type de recherche ne peut pas être combiné avec une recherche au rayon.","required":false,"type":"string"},{"name":"departement","in":"query","description":"Le code du département recherché","required":false,"type":"string"},{"name":"fiabilite","in":"query","description":"Type de fiabilité                                    <br>- Faible <br>- Moyen <br>- Fort","required":false,"type":"string"},{"name":"identifiant","in":"query","description":"Identifiant du mouvement","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours un point. La paire de coordonnées est separée par une virgule. Exemple : 1.939266,47.861961","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à 10 000 mètres. Par defaut le rayon de recherche est fixé a 1000 mètres.","required":false,"type":"number","format":"double"},{"name":"region","in":"query","description":"Le code de la région recherchée","required":false,"type":"string"},{"name":"type","in":"query","description":"Type de mouvement de terrain                   <br>- Effondrement / Affaissement <br>- Coulée <br>- Glissement <br>- Erosion de berges <br>- Chute de blocs / Eboulement","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«Mvt»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/ppr":{"get":{"tags":["PPR"],"summary":"Lister les documents PPR","description":"Ce service permet de lister les différents documents PPR, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.","operationId":"recherchePPRUsingGET","produces":["application/json"],"parameters":[{"name":"code_etat","in":"query","description":"Ce paramètre est optionnel. Code de l'état du document PPR, qui prend pour valeur 01 (Prescrit), 02 (Approuvé), 03 (Abrogé), 04 (Appliqué par anticipation). Si plusieurs états, séparer les codes par une virgule. exemple : 01,02,03,04","required":false,"type":"string"},{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"code_risque","in":"query","description":"Ce paramètre est optionnel. Code du type de risque du document PPR, qui prend pour valeur pour les principaux :11 (Inondation), 12 (Mouvements de terrain), 13 (Séisme), 14 (Avalanche), 16 (Feu de forêt), 17 (Phénomènes météorologiques), 21 (Risque industriel). Si plusieurs types de risque, séparer les codes par une virgule. exemple : 11,12,13","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«PPR»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/ppr/etats_documents":{"get":{"tags":["Etats documents PPR"],"summary":"Lister les différents états d'un document PPR","description":"Lexique des différents états d'un document PPR (codification issue du standard PPRN / PPRT de la Commission de validation des données pour l'information spatialisée (COVADIS))","operationId":"rechercheEtatDocsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«EtatPPR»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/ppr/famille_risques":{"get":{"tags":["Familles risque PPR"],"summary":"Lister les familles de risques","description":"Lexique des familles de risques de la base de données GASPAR (codification issue du standard PPRN / PPRT de la Commission de validation des données pour l'information spatialisée (COVADIS))","operationId":"rechercheRisqueUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«FamilleRisques»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/radon":{"get":{"tags":["Radon"],"summary":"Rechercher les potentiels radon des communes","description":"Ce service permet de recherche le potentiel radon d'une ou plusieurs communes. Attention pour les communes de Paris, Lyon et Marseille, seules les informations à  l'arrondissement sont disponibles.","operationId":"rechercheRadonUsingGET","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10","required":true,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«Radon»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/rapport_pdf":{"get":{"tags":["Rapport PDF"],"summary":"VERSION BETA - Cette interface est conçue pour generer un rapport de risque","description":"Cette interface est conçue pour generer un rapport de risque","operationId":"generateRapportRisqueUsingGET","produces":["application/json"],"parameters":[{"name":"adresse","in":"query","required":false,"type":"string"},{"name":"codeInsee","in":"query","required":false,"type":"string"},{"name":"latlon","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/rga":{"get":{"tags":["Retrait gonflement des argiles"],"summary":"Cette interface est conçue pour diffuser les données sur le retrait / gonflement des sols argileux.","description":"Cette interface est conçue pour diffuser les données sur le retrait / gonflement des sols argileux.","operationId":"rechercherZonageRetraitGonflementUsingGET","produces":["application/json"],"parameters":[{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours un point. La paire de coordonnées est separée par une virgule. Exemple : 0.345234,46.576964","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ZonageArgile"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/sis":{"get":{"tags":["SIS"],"summary":"Lister les Secteurs d'Information sur les Sols","description":"Ce service permet de lister les différents SIS, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.   ","operationId":"rechercheSISUsingGET","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«SIS»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}},"/api/v1/zonage_sismique":{"get":{"tags":["Zonage Sismique"],"summary":"Lister les zonages sismiques","description":"Ce service permet de lister le zonage sismique, suivant une emprise spatiale définie, à  savoir un rayon de recherche pour un point défini, une ou plusieurs communes.","operationId":"rechercheRadonUsingGET_1","produces":["application/json"],"parameters":[{"name":"code_insee","in":"query","description":"Code(s) INSEE de la commune, si plusieurs codes communes, séparer les codes communes par une virgule, par exemple pour avoir les codes insee 45234 et 45100 : code_insee=45234,45100, le nombre maximum de code est 10. Ce type de recherche ne peut pas être combinée avec une recherche au rayon.","required":false,"type":"string"},{"name":"latlon","in":"query","description":"Saisir un point sous la forme longitude / latitude. Le séparateur de décimales est toujours le point. La paire de coordonnées est séparée par une virgule. exemple : 2.29253,48.92572","required":false,"type":"string"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"Taille des pages","required":false,"type":"integer","default":10,"format":"int32"},{"name":"rayon","in":"query","description":"Saisir un rayon de recherche exprimé en mètres. Attention la valeur du rayon de recherche est limitée à  10 000 mètres. Par défaut le rayon de recherche est fixé à  1000 mètres.","required":false,"type":"integer","default":1000,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResponse«ZonageSismique»"}},"400":{"description":"Paramètres fournis manquants ou incorrectement valorisés"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur technique interne"}}}}},"definitions":{"Azi":{"type":"object","properties":{"code_insee":{"type":"string","description":"Identifiant unique INSEE de la commune"},"code_national_azi":{"type":"string","description":"Identifiant unique de l'AZI"},"date_debut_etude":{"type":"string","description":"Date de début de l'étude"},"date_debut_information":{"type":"string","description":"Date de début d'information"},"date_debut_programmation":{"type":"string","description":"Date de début de programmation"},"date_diffusion":{"type":"string","description":"Date de diffusion"},"date_fin_etude":{"type":"string","description":"Date de fin de l'étude"},"date_fin_information":{"type":"string","description":"Date de fin d'information"},"date_fin_programmation":{"type":"string","description":"Date de fin de programmation"},"date_publication_web":{"type":"string","description":"Date de publication web"},"date_realisation":{"type":"string","description":"Date de réalisation"},"libelle_azi":{"type":"string","description":"Libellé de l'AZI"},"libelle_bassin_risques":{"type":"string","description":"Libellé bassin de risque"},"libelle_commentaire":{"type":"string","description":"Libellé commentaires"},"libelle_commune":{"type":"string","description":"Libellé de la commune"},"liste_libelle_risque":{"type":"array","description":"Détail du risque gaspar","items":{"$ref":"#/definitions/RisqueGaspar"}}},"title":"Azi"},"CatNat":{"type":"object","properties":{"code_insee":{"type":"string","description":"Identifiant unique INSEE de la commune"},"code_national_catnat":{"type":"string","description":"Identifiant unique d'un arrêté de catastrophe naturelle"},"date_debut_evt":{"type":"string","description":"Date début de l'évènement"},"date_fin_evt":{"type":"string","description":"Date fin de l'évènement"},"date_publication_arrete":{"type":"string","description":"Date de publication de l'arrêté de catastrophe naturelle"},"date_publication_jo":{"type":"string","description":"Date de publication au Journal officiel"},"libelle_commune":{"type":"string","description":"Libellé de la commune"},"libelle_risque_jo":{"type":"string","description":"Libellé du risque au Journal officiel"}},"title":"CatNat"},"Cavites":{"type":"object","properties":{"code_insee":{"type":"string","description":"Identifiant unique INSEE de la commune"},"departement":{"description":"Le code département de la cavité souterraine","$ref":"#/definitions/Departement"},"identifiant":{"type":"string","description":"Identifiant unique d'une cavité souterraine"},"latitude":{"type":"number","format":"float","description":"Latitude de la commune"},"longitude":{"type":"number","format":"float","description":"Longitude de la commune"},"nom":{"type":"string","description":"Nom de cavité souterraine"},"region":{"description":"Le code région de la cavité souterraine","$ref":"#/definitions/Region"},"reperage_geo":{"type":"string","description":"${api.georisques.cavites.reperageGeographique.description}"},"type":{"type":"string","description":"Type de cavité souterraine"}},"title":"Cavites"},"Crs":{"type":"object","properties":{"properties":{"type":"object"},"type":{"type":"string","enum":["link","name"]}},"title":"Crs"},"Departement":{"type":"object","properties":{"code":{"type":"string"},"nom":{"type":"string"}},"title":"Departement"},"Dicrim":{"type":"object","properties":{"annee_publication":{"type":"string","description":"Date de publication"},"code_insee":{"type":"string","description":"Identifiant unique INSEE de la commune"},"libelle_commune":{"type":"string","description":"Libellé de la commune"}},"title":"Dicrim"},"EtatPPR":{"type":"object","properties":{"code_etat":{"type":"string","description":"Code de l'état d'un document PPR"},"libelle_etat":{"type":"string","description":"Libellé de l'état d'un document PPR"}},"title":"EtatPPR"},"FamilleRisques":{"type":"object","properties":{"classes_alea":{"type":"array","description":"Classe d'un risque d'alea","items":{"$ref":"#/definitions/Risque"}},"code_risque":{"type":"string","description":"Code d'un risque PPR"},"libelle_risque":{"type":"string","description":"Libellé d'un risque PPR"}},"title":"FamilleRisques"},"Feature":{"title":"Feature","allOf":[{"$ref":"#/definitions/GeoJsonObject"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"crs":{"$ref":"#/definitions/Crs"},"geometry":{"$ref":"#/definitions/GeoJsonObject"},"id":{"type":"string"},"properties":{"type":"object"}},"title":"Feature"}]},"FeatureCollection":{"title":"FeatureCollection","allOf":[{"$ref":"#/definitions/GeoJsonObject"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"crs":{"$ref":"#/definitions/Crs"},"features":{"type":"array","items":{"$ref":"#/definitions/Feature"}}},"title":"FeatureCollection"}]},"GeoJsonObject":{"type":"object","discriminator":"type","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"crs":{"$ref":"#/definitions/Crs"}},"title":"GeoJsonObject"},"GeometryCollection":{"title":"GeometryCollection","allOf":[{"$ref":"#/definitions/GeoJsonObject"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"crs":{"$ref":"#/definitions/Crs"},"geometries":{"type":"array","items":{"$ref":"#/definitions/GeoJsonObject"}}},"title":"GeometryCollection"}]},"Inspection":{"type":"object","properties":{"dateInspection":{"type":"string","description":"Date de l'inspection pour l'installation classee en question"},"fichierInspection":{"description":"Rapport de l'inspection","$ref":"#/definitions/MetadataFichier"}},"title":"Inspection"},"InstallationClassee":{"type":"object","properties":{"adresse1":{"type":"string","description":"Adresse - Ligne 1"},"adresse2":{"type":"string","description":"Adresse - Ligne 2"},"adresse3":{"type":"string","description":"Adresse - Ligne 3"},"bovins":{"type":"boolean","description":"Famille ou sous famille de la nomenclature installation classee"},"carriere":{"type":"boolean","description":"Famille ou sous famille de la nomenclature installation classee"},"codeAIOT":{"type":"string","description":"Code unique GUNenv, clef metier"},"codeInsee":{"type":"string","description":"Code INSEE de l'installation classee"},"codeNaf":{"type":"string","description":"Deux premiers caracteres du code NAF de l'installation classee"},"codePostal":{"type":"string","description":"Code postal de l'installation classee"},"commune":{"type":"string","description":"Commune de l'installation classee"},"coordonneeXAIOT":{"type":"integer","format":"int32","description":"Valeur de la coordonnee X"},"coordonneeYAIOT":{"type":"integer","format":"int32","description":"Valeur de la coordonnee Y"},"date_maj":{"type":"string","description":"Date de dernière mise à jour des données. L'API renvoie toutes les données ayant été mises à jour à partir de date_maj"},"documentsHorsInspection":{"type":"array","description":"Liste des documents hors inpection publies sur Georisques","items":{"$ref":"#/definitions/MetadataFichier"}},"eolienne":{"type":"boolean","description":"Famille ou sous famille de la nomenclature installation classee"},"etatActivite":{"type":"string","description":"Etat de l'activite de l'installation classee"},"ied":{"type":"boolean","description":"Indicateur IED"},"industrie":{"type":"boolean","description":"Famille ou sous famille de la nomenclature installation classee"},"inspections":{"type":"array","description":"Liste des inspections","items":{"$ref":"#/definitions/Inspection"}},"latitude":{"type":"number","description":"Valeur de la coordonnee latitude"},"longitude":{"type":"number","description":"Valeur de la coordonnee longitude"},"porcs":{"type":"boolean","description":"Famille ou sous famille de la nomenclature installation classee"},"prioriteNationale":{"type":"boolean","description":"Indicateur de priorite nationale"},"raisonSociale":{"type":"string","description":"Raison sociale de l'installation classee si personne morale ou nom et prenom si personne physique"},"regime":{"type":"string","description":"Regime en vigeur de l'installation classee"},"rubriques":{"type":"array","description":"Liste des rubriques repondant aux criteres","items":{"$ref":"#/definitions/RubriqueIC"}},"serviceAIOT":{"type":"string","description":"Libelle court du service d'inspection"},"siret":{"type":"string","description":"Systeme d'identification du repertoire des installations classees sur 14 chiffres"},"statutSeveso":{"type":"string","description":"Presence du champ statut SEVESO"},"systemeCoordonneesAIOT":{"type":"string","description":"Systeme de coordonnees geographiques (projection) de l'installation classee"},"volailles":{"type":"boolean","description":"Famille ou sous famille de la nomenclature installation classee"}},"title":"InstallationClassee"},"LineString":{"title":"LineString","allOf":[{"$ref":"#/definitions/GeoJsonObject"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"$ref":"#/definitions/LngLatAlt"}},"crs":{"$ref":"#/definitions/Crs"}},"title":"LineString"}]},"LngLatAlt":{"type":"object","properties":{"additionalElements":{"type":"array","items":{"type":"number","format":"double"}},"altitude":{"type":"number","format":"double"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}},"title":"LngLatAlt"},"MetadataFichier":{"type":"object","properties":{"dateFichier":{"type":"string","description":"Date du depot du fichier dans GUNenv"},"identifiantFichier":{"type":"string","description":"Identifiant technique du fichier"},"nomFichier":{"type":"string","description":"Nom du fichier"},"typeFichier":{"type":"string","description":"Libelle du type de fichier"},"urlFichier":{"type":"string","description":"URL du fichier tel que diffuse dans Georisques"}},"title":"MetadataFichier"},"MultiLineString":{"title":"MultiLineString","allOf":[{"$ref":"#/definitions/GeoJsonObject"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"$ref":"#/definitions/LngLatAlt"}}},"crs":{"$ref":"#/definitions/Crs"}},"title":"MultiLineString"}]},"MultiPoint":{"title":"MultiPoint","allOf":[{"$ref":"#/definitions/GeoJsonObject"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"$ref":"#/definitions/LngLatAlt"}},"crs":{"$ref":"#/definitions/Crs"}},"title":"MultiPoint"}]},"MultiPolygon":{"title":"MultiPolygon","allOf":[{"$ref":"#/definitions/GeoJsonObject"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"$ref":"#/definitions/LngLatAlt"}}}},"crs":{"$ref":"#/definitions/Crs"}},"title":"MultiPolygon"}]},"Mvt":{"type":"object","properties":{"code_insee":{"type":"string","description":"Identifiant unique INSEE de la commune"},"commentaire_lieu":{"type":"string","description":"Commentaire su le lieu d'un mouvement de terrain"},"commentaire_mvt":{"type":"string","description":"Commentaire d'un mouvement de terrain"},"date_debut":{"type":"string","description":"Date de début d'un mouvement de terrain"},"date_maj":{"type":"string","description":"Date de mise à jour d'un mouvement de terrain"},"departement":{"description":"${api.georisques.mvt.departement.description}","$ref":"#/definitions/Departement"},"fiabilite":{"type":"string","description":"Type de fiabilité"},"identifiant":{"type":"string","description":"Identifiant unique d'un mouvement de terrain"},"latitude":{"type":"number","format":"float","description":"Latitude de la commune"},"lieu":{"type":"string","description":"Lieu d'un mouvement de terrain"},"longitude":{"type":"number","format":"float","description":"Longitude de la commune"},"precision_date":{"type":"string","description":"Précision de la date d'un mouvement de terrain"},"precision_lieu":{"type":"string","description":"Précision du lieu d'un mouvement de terrain"},"region":{"description":"Le code région d'un mouvement de terrain","$ref":"#/definitions/Region"},"type":{"type":"string","description":"Type de mouvement de terrain"}},"title":"Mvt"},"PPR":{"type":"object","title":"PPR"},"PaginatedResponse«Azi»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/Azi"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«Azi»"},"PaginatedResponse«CatNat»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/CatNat"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«CatNat»"},"PaginatedResponse«Cavites»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/Cavites"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«Cavites»"},"PaginatedResponse«Dicrim»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/Dicrim"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«Dicrim»"},"PaginatedResponse«EtatPPR»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/EtatPPR"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«EtatPPR»"},"PaginatedResponse«FamilleRisques»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/FamilleRisques"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«FamilleRisques»"},"PaginatedResponse«InstallationClassee»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/InstallationClassee"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«InstallationClassee»"},"PaginatedResponse«Mvt»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/Mvt"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«Mvt»"},"PaginatedResponse«PPR»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/PPR"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«PPR»"},"PaginatedResponse«Papi»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/Papi"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«Papi»"},"PaginatedResponse«Pcs»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/Pcs"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«Pcs»"},"PaginatedResponse«Radon»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/Radon"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«Radon»"},"PaginatedResponse«Risques»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/Risques"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«Risques»"},"PaginatedResponse«SIS»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/SIS"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«SIS»"},"PaginatedResponse«Tim»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/Tim"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«Tim»"},"PaginatedResponse«Tri»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/Tri"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«Tri»"},"PaginatedResponse«ZonageSismique»":{"type":"object","properties":{"data":{"type":"array","description":"Le tableau contenant la réponse du endpoint","items":{"$ref":"#/definitions/ZonageSismique"}},"message":{"type":"string","description":"Le message d'erreur si applicable"},"next":{"type":"string","description":"Le lien vers la page de résultat suivante"},"page":{"type":"integer","format":"int32","description":"Le numéro de page actuelle"},"previous":{"type":"string","description":"Le lien vers la page de résultat précédente"},"response_code":{"type":"integer","format":"int32","description":"Le code HTTP de la réponse"},"results":{"type":"integer","format":"int32","description":"Le nombre total de résultats"},"total_pages":{"type":"integer","format":"int32","description":"Le nombre total de pages"}},"title":"PaginatedResponse«ZonageSismique»"},"Papi":{"type":"object","properties":{"code_insee":{"type":"string","description":"Identifiant unique INSEE de la commune"},"code_national_papi":{"type":"string","description":"Identifiant unique du PAPI"},"date_fin_realisation":{"type":"string","description":"Date de fin de réalisation du PAPI"},"date_labellisation":{"type":"string","description":"Date de labellisation du PAPI"},"date_signature":{"type":"string","description":"Date de signature du PAPI"},"libelle_bassin_risques":{"type":"string","description":"Libellé bassin de risque"},"libelle_commentaire":{"type":"string","description":"Libellé commentaires"},"libelle_commune":{"type":"string","description":"Libellé de la commune"},"libelle_papi":{"type":"string","description":"Libellé du PAPI"},"liste_libelle_risque":{"type":"array","description":"Détail du risque gaspar","items":{"$ref":"#/definitions/RisqueGaspar"}}},"title":"Papi"},"Pcs":{"type":"object","properties":{"code_insee":{"type":"string","description":"Identifiant unique INSEE de la commune"},"code_national_pcs":{"type":"string","description":"Identifiant unique d'un PCS"},"date_debut_etude":{"type":"string","description":"Date de début de l'étude"},"date_fin_etude":{"type":"string","description":"Date de fin de l'étude"},"date_notification":{"type":"string","description":"Date de notification"},"libelle_bassin_risques":{"type":"string","description":"Libellé bassin de risque"},"libelle_commentaire":{"type":"string","description":"Libellé commentaires"},"libelle_commune":{"type":"string","description":"Libellé de la commune"},"libelle_pcs":{"type":"string","description":"Libellé du PCS"},"liste_libelle_risque":{"type":"array","description":"Détail du risque gaspar","items":{"$ref":"#/definitions/RisqueGaspar"}}},"title":"Pcs"},"Point":{"title":"Point","allOf":[{"$ref":"#/definitions/GeoJsonObject"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"$ref":"#/definitions/LngLatAlt"},"crs":{"$ref":"#/definitions/Crs"}},"title":"Point"}]},"Polygon":{"title":"Polygon","allOf":[{"$ref":"#/definitions/GeoJsonObject"},{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"$ref":"#/definitions/LngLatAlt"}}},"crs":{"$ref":"#/definitions/Crs"}},"title":"Polygon"}]},"Radon":{"type":"object","properties":{"classe_potentiel":{"type":"string","description":"Classe potentielle du risque Radon"},"code_insee":{"type":"string","description":"Code Insee de la commune"},"libelle_commune":{"type":"string","description":"Libellé de la commune"}},"title":"Radon"},"Region":{"type":"object","properties":{"code":{"type":"string"},"nom":{"type":"string"}},"title":"Region"},"Risque":{"type":"object","properties":{"code":{"type":"string"},"libelle":{"type":"string"}},"title":"Risque"},"RisqueGaspar":{"type":"object","properties":{"libelle_risque_long":{"type":"string","description":"Libellé long du risque"},"num_risque":{"type":"string","description":"Identifiant technique du risque"}},"title":"RisqueGaspar"},"Risques":{"type":"object","properties":{"code_insee":{"type":"string","description":"Libellé de la commune"},"libelle_commune":{"type":"string","description":"Détail des risques de la commune"},"risques_detail":{"type":"array","description":"Identifiant unique INSEE de la commun","items":{"$ref":"#/definitions/RisquesDetail"}}},"title":"Risques"},"RisquesDetail":{"type":"object","properties":{"libelle_risque_long":{"type":"string","description":"Libellé long du risqu"},"num_risque":{"type":"string","description":"Identifiant technique du risque"},"zone_sismicite":{"type":"string","description":"Zone de sismicité"}},"title":"RisquesDetail"},"RubriqueIC":{"type":"object","properties":{"alinea":{"type":"string","description":"Alinea de la rubrique concernee"},"nature":{"type":"string","description":"Nature de la rubrique proposee"},"numeroRubrique":{"type":"string","description":"Numero de la rubrique autorisee"},"quantiteTotale":{"type":"string","description":"Quantite totale sur le site"},"regimeAutoriseAlinea":{"type":"string","description":"Regime autorise de l'alinea"},"unite":{"type":"string","description":"Unite de cet alinea de la rubrique"}},"title":"RubriqueIC"},"SIS":{"type":"object","properties":{"adresse":{"type":"string","description":"Adresse du SIS"},"adresse_lieudit":{"type":"string","description":"Lieu-dit du SIS"},"code_insee":{"type":"string","description":"Code Insee de la commune"},"fiche_risque":{"type":"string","description":"Lien vers la fiche risque du SIS"},"geom":{"description":"Emprise géographique du SIS","$ref":"#/definitions/GeoJsonObject"},"id_sis":{"type":"string","description":"Identifiant unique du SIS"},"nom":{"type":"string","description":"Nom du SIS"},"nom_commune":{"type":"string","description":"Libellé de la commune"},"superficie":{"type":"number","format":"float","description":"Superficie du SIS en m2"}},"title":"SIS"},"Tim":{"type":"object","properties":{"code_insee":{"type":"string","description":"Identifiant unique INSEE de la commune"},"date_transmission":{"type":"string","description":"Date de transmission"},"libelle_commune":{"type":"string","description":"Libellé de la commune"}},"title":"Tim"},"Tri":{"type":"object","properties":{"code_insee":{"type":"string","description":"Identifiant unique INSEE de la commune"},"code_national_tri":{"type":"string","description":"${api.georisques.gaspar.tri.codenatazi.description}"},"date_arrete_approbation":{"type":"string","description":"Arrêté d'approbation de la partie locale"},"date_arrete_carte":{"type":"string","description":"Arrêté de la cartographie du TRI"},"date_arrete_national":{"type":"string","description":"Arrêté TRI national"},"date_arrete_pcb":{"type":"string","description":"Arrêté du préfet coordonnateur de bassin"},"date_arrete_pcb_local":{"type":"string","description":"Arrêté de la stratégie locale"},"date_arrete_prefet_parties_prenantes":{"type":"string","description":"Arrêté préfet, parties prenantes"},"libelle_bassin_risques":{"type":"string","description":"Libellé bassin de risque"},"libelle_commentaire":{"type":"string","description":"Libellé commentaires"},"libelle_commune":{"type":"string","description":"Libellé de la commune"},"libelle_tri":{"type":"string","description":"${api.georisques.gaspar.tri.libazi.description}"},"liste_libelle_risque":{"type":"array","description":"Détail du risque gaspar","items":{"$ref":"#/definitions/RisqueGaspar"}}},"title":"Tri"},"ZonageArgile":{"type":"object","properties":{"codeExposition":{"type":"string"},"exposition":{"type":"string"}},"title":"ZonageArgile"},"ZonageSismique":{"type":"object","properties":{"code_insee":{"type":"string","description":"Identifiant unique INSEE de la commune"},"code_zone":{"type":"string","description":"Code du zonage sismique"},"libelle_commune":{"type":"string","description":"Libellé de la commune"},"zone_sismicite":{"type":"string","description":"Libellé du zonage sismique"}},"title":"ZonageSismique"}}}